pipeline/Ex 10 - Move from OriginalFiles to Folder.json
{
	"name": "Ex 10 - Move from OriginalFiles to Folder",
	"properties": {
		"description": "Move some files in OriginalFiles to a folder in this case called Exercise10.",
		"activities": [
			{
				"name": "Get Metadata for file list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CsvFilesByPattern",
						"type": "DatasetReference",
						"parameters": {
							"file_pattern": "File*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter folders out",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter folders out').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data to param folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "FileN_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container": "sources",
										"Filepath": {
											"value": "@concat('OriginalFiles/', item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FileN_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container": "sources",
										"Filepath": {
											"value": "@concat(pipeline().parameters.target_folder, '/', item().name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete original files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data to param folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "FileN_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container": "sources",
										"Filepath": {
											"value": "@concat('OriginalFiles/', item().name)",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter folders out",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata for file list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for file list').output.childItems\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"target_folder": {
				"type": "string",
				"defaultValue": "Exercise10"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-20T11:46:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}