pipeline/Ex 8 - Db2Files by format using loops.json
{
	"name": "Ex 8 - Db2Files by format using loops",
	"properties": {
		"description": "Copy database tables content to files by format by looping on them",
		"activities": [
			{
				"name": "LookupDbByFormat",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getTablesAndLocations]",
						"storedProcedureParameters": {
							"the_format": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.format",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlSP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachRowOfTablesAndLocations",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDbByFormat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDbByFormat').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy Tables to CSVs",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlGenericTable",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "TTraining",
										"Table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FileN_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container": "targets",
										"Filepath": {
											"value": "@concat(item().dl_location, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"format": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-20T09:04:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}