pipeline/Ex 8 - Csv to DB  -and thrash- using SP.json
{
	"name": "Ex 8 - Csv to DB  -and thrash- using SP",
	"properties": {
		"activities": [
			{
				"name": "Copy from csv to thrash",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get File Loc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FileN_csv",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sources",
							"Filepath": {
								"value": "@concat(activity('Get File Loc').output.value[0].dl_location, '.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Thrash",
						"type": "DatasetReference",
						"parameters": {
							"Filepath": {
								"value": "@concat(pipeline().parameters.TableName, '.log')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get File Loc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getLocation]",
						"storedProcedureParameters": {
							"the_format": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Format",
									"type": "Expression"
								}
							},
							"the_schema": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Schema",
									"type": "Expression"
								}
							},
							"the_table": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TableName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlSP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data from csv to db",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get File Loc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FileN_csv",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sources",
							"Filepath": {
								"value": "@concat(activity('Get File Loc').output.value[0].dl_location, '.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlGenericTable",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Schema",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Schema": {
				"type": "string",
				"defaultValue": "TTraining"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "FileTwo"
			},
			"Format": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-19T16:25:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}