pipeline/Ex14 Login to Facts.json
{
	"name": "Ex14 Login to Facts",
	"properties": {
		"activities": [
			{
				"name": "Copy new rows to file",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ll.[id], ll.[user], ll.[timestamp], format(ll.[timestamp], 'yyyyMMdd') as dateid, format(ll.[timestamp], 'hhmmss') as timeid,\n  GETDATE() as update_date\nfrom ( \n  select *\n  from [TTraining].[Login] l\n  where l.[timestamp] > (select coalesce(max([timestamp]), DATEFROMPARTS(1970, 1, 1)) from [TTraining].[FactLogin])\n) as ll",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlGeneric",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetLoginRawData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy login data to facts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy new rows to file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ParquetLoginRawData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTableFactLogin",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup last date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct format(l.[timestamp], 'yyyy') y, format(l.[timestamp], 'MM') m, format(l.[timestamp], 'dd') d\nfrom [TTraining].[Login] l\nwhere l.[timestamp] > (select coalesce(max([timestamp]), DATEFROMPARTS(1970, 1, 1)) from [TTraining].[FactLogin])",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGeneric",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition new rows",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup last date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy login data to facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup last date').output.count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy login data file to date folder_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ParquetLoginRawData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetLoginByDate",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat('IncrementalLoad/Processed/', activity('Lookup last date').output.firstRow.y, activity('Lookup last date').output.firstRow.m)",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('File', activity('Lookup last date').output.firstRow.y, activity('Lookup last date').output.firstRow.m, activity('Lookup last date').output.firstRow.d, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete parquet file_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy login data file to date folder_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ParquetLoginRawData",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "copyactivity-logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "data flow pipes"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-25T15:18:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}